annotated-types==0.7.0
async-timeout==5.0.1
beautifulsoup4==4.13.3
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
Flask==3.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
python-jobspy
markdownify==0.13.1
MarkupSafe==3.0.2
numpy==1.26.3
pandas==2.2.3
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jobspy==1.1.76
pytz==2025.1
redis==5.2.1
regex==2024.11.6
requests==2.32.3
schedule==1.2.2
six==1.17.0
soupsieve==2.6
tls-client==1.0.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
Werkzeug==3.1.3
